aiohttp==3.7.4.post0
aiosignal==1.2.0
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
charset-normalizer==2.0.7
discord.py==1.7.3
discord-py-slash-command==3.0.1
frozenlist==1.2.0
idna==3.2
multidict==5.2.0
pbr==0.11.1
Pillow==8.3.2
setuptools==57.4.0
six==1.16.0
style==1.1.0
typing-extensions==3.10.0.2
update==0.0.1
yarl==1.7.0